
RNCookieManagerIOS.xcodeproj/project.xcworkspace/xcuserdata/josephferraro.xcuserdatad/UserInterfaceState.xcuserstate

RNCookieManagerIOS.xcodeproj/xcuserdata/josephferraro.xcuserdatad/xcschemes/RNCookieManagerIOS.xcscheme

RNCookieManagerIOS.xcodeproj/xcuserdata/josephferraro.xcuserdatad/xcschemes/xcschememanagement.plist
